{% extends 'blog_articles/newmanage/index.html' %}
{% block title %}
    评论管理
{% endblock %}
{% block content %}
    <div class="card-box">
        <div class="content">
            <div class="am-g">
                <a href="{% url 'blog:myarticles' %}">返回文章列表</a>
                <div class="am-u-md-12 am-u-lg-12">
                    <table class="am-table am-table-hover">
                        <thead>
                        <tr>
                            <th>评论内容</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comment_list %}
                            <tr>
                                <td>{{ comment.content| truncatechars_html:50 }}</td>
                                <td>
                                    <a href="{% url 'blog:manage_c_edit' comment.id %}">编辑</a>&nbsp;
                                    <a href="{% url 'blog:manage_c_del' comment.id %}">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}