<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}--Jerry's Blog</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/static/amaze-assets/i/icon1.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/static/amaze-assets/i/icon1.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/static/amaze-assets/i/icon1.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!--amazeui.flat.min.css：圆角版 Amaze UI CSS-->
    {#    <link rel="stylesheet" href="/static/amaze-assets/css/amazeui.flat.min.css">#}
    <link href="//cdn.bootcss.com/amazeui/2.7.2/css/amazeui.flat.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/amaze-assets/css/app.css">
    <link rel="stylesheet" href="/static/amazeui-color/color.min.css">

    <!--改一个字体在顶栏-->
    <link href='//cdn.webfont.youziku.com/webfonts/nomal/100983/46818/58e7aba0f629dd0c1c5b2b80.css'
          rel='stylesheet' type='text/css'/>
    <style>
        @font-face {
            font-family: 'NotoSans';
            src: url('//at.alicdn.com/t/f34h5b7keayycik9.eot'); /* IE9*/
            src: url('//at.alicdn.com/t/f34h5b7keayycik9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/f34h5b7keayycik9.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/f34h5b7keayycik9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/f34h5b7keayycik9.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
        }

        h1.modfont {
            font-family: 'Raleway9ee1fb22818a77', serif;
        }

        .back {
            background-color: transparent;
            border: hidden;
        }

        .articlefont {
            font-family: NotoSans, SansSerif, serif;
        }

        #mainfooter img {

        }

        .foot {
            background-color: #d8dbd8;
        }

        #navbc {
            background-color: #4e4e4e;
            filter: alpha(opacity=90);
            -moz-opacity: 0.90;
            opacity: 0.90;
        }

        .right-text {
            padding: 0 10px;
            font-size: 1.6rem;
            height: 50px;
            line-height: 50px;
        }
    </style>

    <!--[if (gte IE 9)|!(IE)]><!-->
    {#    <script src="/static/js/jquery-3.2.0.min.js"></script>#}
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9 ]>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/modernizr/2.8.3/modernizr.js"></script>
{#    <script src="/static/amaze-assets/js/amazeui.ie8polyfill.min.js"></script>#}
    <script src="//cdn.bootcss.com/amazeui/2.7.2/js/amazeui.ie8polyfill.js"></script>
    <![endif]-->
    {#    <script src="/static/amaze-assets/js/amazeui.min.js"></script>#}
    <script src="//cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    {#    <script src="/static/amaze-assets/js/amazeui.widgets.helper.min.js"></script>#}
    <script src="//cdn.bootcss.com/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>
    <script src="/static/amazeui-color/color.min.js"></script>
    <script src="/static/amaze-assets/js/app.js"></script>

    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
<nav class="am-topbar-inverse" id="navbc">

    <h1 class="am-topbar-brand modfont" style="font-size: 150%">
        <a href="{% url "blog:index" %}"><img src="/static/amaze-assets/i/favicon.png"></a>
        <a href="{% url "blog:index" %}">Jerry's Blog</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse'}">
        <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
    </button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li><a href="{% url "blog:index" %}">首页</a></li>
            <li><a href="{% url 'blog:categories' %}">分类</a></li>
            <li><a href="{% url 'msb:board' %}">留言</a></li>
            <li><a href="{% url "blog:aboutme" %}">关于我</a></li>
        </ul>

        <form class="am-topbar-form am-topbar-left am-form-inline" action="{% url 'blog:search' %}" method="get"
              role="search">
            <div class="am-form-group">
                <input type="text" name="q" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
            <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
        </form>

        <div class="am-topbar-right">
            {% if user.is_authenticated %}
                <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                    <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle"
                            data-am-dropdown-toggle>您好, {{ user.username }}<span class="am-icon-caret-down"></span>
                    </button>
                    <ul class="am-dropdown-content">
                        <li><a href="{% url 'account:logout' %}">注销</a></li>
                        <li><a href="#">个人资料</a></li>
                        {% if user.is_superuser %}
                            <li><a href="/admin/">管理界面</a></li>
                            <li><a href="{% url 'blog:new_article' %}">写文章</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                    <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm am-dropdown-toggle"
                            data-am-dropdown-toggle>来点评论？<span class="am-icon-caret-down"></span></button>
                    <ul class="am-dropdown-content">
                        <li><a href="{% url 'account:login' %}">登录</a></li>
                        <li><a href="{% url 'account:register' %}">注册</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<div>
    {% block content %}
    {% endblock content %}

    <!--回到顶部按钮，浮动的-->
    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
        <a href="#top" title="回到顶部">
            <span class="am-gotop-title">回到顶部</span>
            <i class="am-gotop-icon am-icon-chevron-up am-icon-sm"></i>
        </a>
    </div>

</div>
<!--底部-->
<div class="am-footer am-footer-default foot">
    <div class="am-g am-g-fixed">
        <div class="am-footer-miscs am-u-sm-12 am-u-md-12 am-u-lg-12" id="mainfooter">
            <p><a href="https://hellojerry.cn"><img src="/static/amaze-assets/i/favicon.png"></a>
                CopyRight©2017 <a href="https://hellojerry.cn">hellojerry.cn</a>
            </p>
            <p>参考：
                <a href="https://www.djangoproject.com/"><img
                        src="https://jerry002-1252474564.cosgz.myqcloud.com/django.jpg"
                        style="height: 30px; width: 80px">&nbsp;</a>
                <a href="http://amazeui.org"><img
                        src="https://raw.githubusercontent.com/allmobilize/amazeui/master/vendor/amazeui/amazeui-b.png"
                        style="height: 20px; width: 100px">&nbsp;</a>
                <a href="https://github.com/zmrenwu/django-blog-tutorial">django-blog-tutorial</a>
            </p>
            <p><a href="http://www.miitbeian.gov.cn">粤ICP备16074515</a></p>
        </div>
    </div>
</div>


</body>
</html>