{% extends 'blog_articles/base.html' %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ category }}{% endblock %}</title>
    {% load markdown_deux_tags %}
    {% block extrastyle %}
        <style>
            h5#bigger {
                font-weight: bold;
                color: rgba(35, 51, 51, 0.73);
            }

            #just-bigger {
                font-size: 110%;
            }

            .trans {
                background-color: transparent;
            }

            .noborder {
                border-top: none;
                border-bottom: none;
                border-left: none;
                border-right: none;
            }
        </style>
    {% endblock extrastyle %}
    {% block extrahead %}
    {% endblock extrahead %}
    {#draceditor的渲染标签#}
    {% load dractags %}
</head>
<body>
{% block content %}
    <br>
    <div class="am-g am-g-fixed">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 am-u-sm-centered am-u-md-centered">
            <div class="color-breadcrumb" id="just-bigger">
            <span><a class="color-breadcrumb-link" href="{% url 'blog:index' %}"><i type="home"
                                                                                    class="am-icon-home"></i>首页</a>
                <span class="color-breadcrumb-separator">/</span></span>
                <span><a class="color-breadcrumb-link" href="{% url 'blog:categories' %}">分类</a>
                <span class="color-breadcrumb-separator">/</span></span>
                <span><span class="color-breadcrumb-link">{{ category.name }}</span><span
                        class="color-breadcrumb-separator">/</span></span>
            </div>
        </div>

        <br>
        <br>
        <div class="am-u-sm-10 am-u-md-10 am-u-lg-12 am-u-sm-centered am-u-md-centered">
            {% for article in article_list %}
                <article class="am-article">
                    <div class="am-article-hd">
                        <h1 class="am-article-title">
                            <a href="{% url 'blog:detail' article.pk %}"> {{ article.title }}</a></h1>
                        <div class="am-article-meta">
                            <h5 id="bigger">
                                <span class="am-icon-male am-icon-md"></span>&nbsp;&nbsp;{{ article.author }}&nbsp;<br>
                                <span class="am-icon-clock-o am-icon-md"></span>&nbsp;&nbsp;{{ article.create_time }}&nbsp;&nbsp;<br>
                                <span class="am-icon-edit am-icon-md"></span>&nbsp;&nbsp;{{ article.modified_time }}
                            </h5>
                        </div>
                    </div>

                    <div class="am-article-bd">
                        {% if article.abstract == None %}
                            <p></p>
                        {% else %}
                            <div class="am-article-lead trans noborder">
                                <h5>文章摘要:</h5>
                                {{ article.abstract }}
                                <p><a href="{% url 'blog:detail' article.pk %}">阅读全文>>></a></p>
                            </div>
                        {% endif %}
                        <div class="am-panel am-panel-default noborder">
                            <footer class="am-panel-footer trans">
                                <p><span class="am-icon-star am-icon-xs"></span>&nbsp;<a
                                        href="{% url 'blog:category' article.category.id %}">{{ article.category }}</a>
                                </p>
                                <p>
                                    <span class="am-icon-tags am-icon-xs"></span>
                                    <!--使用for循环才能显示出标签，否则获取不了数据-->
                                    {% for tag in article.tag.all %}
                                        <a href="{% url 'blog:tag' tag.id %}">{{ tag }}</a>&nbsp;
                                    {% endfor %}
                                </p>
                            </footer>
                        </div>
                    </div>
                </article>
                <hr class="am-article-divider">

            {% endfor %}
            <h1>没有更多了。。。</h1>
        </div>
    </div>
{% endblock content %}
</body>
</html>