{% extends "blog_articles/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}分类{% endblock title %}</title>
    {% block extrastyle %}
        <style>
            div#border {
                width: 60%;
                margin: 0 auto;
            }

            h1#titlefont {
                font-family: NotoSans;
                text-align: center;
                font-size: 300%;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="">
        <br>
        <div class="am-g am-g-fixed">
            <h1 class="am-u-sm-12 am-u-md-12 am-u-lg-12" id="titlefont">分类归档</h1>
        </div>
        <div class="am-g am-g-fixed">
            <ul class="am-list am-list-striped am-u-sm-12 am-u-md-12 am-u-lg-12" id="border">
                {% for category in category_list %}
                    <li>
                        <a href="{% url 'blog:category' category.id %}"
                           style="text-align: center">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="am-g am-g-fixed">
            <h1 class="am-u-sm-12" id="titlefont">标签列表</h1>
        </div>
        <div class="am-panel am-panel-default" id="border">
            {% for tag in tag_list %}
                <a class="am-badge am-badge-secondary am-round" href="{% url 'blog:tag' tag.id %}">{{ tag.name }}&nbsp;&nbsp;</a>
            {% endfor %}
        </div>

        <br>
    </div>
{% endblock %}
</body>
</html>