{% extends 'blog_articles/base.html' %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}主页{% endblock %}</title>
    {% load markdown_deux_tags %}
    {% block extrastyle %}
        <style>
            h5#bigger {
                font-weight: bold;
                color: rgba(35, 51, 51, 0.73);
            }

            .back {
                background-color: lightgoldenrodyellow;
            }

            .back2 {
                background-color: lightyellow;
            }

            .back3 {
                background-color: #d3fff5;
            }
        </style>
    {% endblock extrastyle %}
    {% block extrahead %}
        <link rel="stylesheet" href="">
    {% endblock extrahead %}
    {#draceditor的渲染标签#}
    {% load dractags %}
</head>
<body>
{% block content %}
    <br>
    <div class="am-g am-g-fixed">
        <!--文章列表-->
        <div class="am-u-md-8">
            {% for article in article_list %}
                <article class="am-article">
                    <div class="am-article-hd">
                        <h1 class="am-article-title">
                            <a href="{% url 'blog:detail' article.pk %}"> {{ article.title }}</a></h1>
                        <div class="am-article-meta">
                            <h5 id="bigger">
                                <span class="am-icon-male am-icon-md"></span>&nbsp;&nbsp;{{ article.author }}&nbsp;<br>
                                <span class="am-icon-clock-o am-icon-md"></span>&nbsp;&nbsp;{{ article.create_time }}&nbsp;&nbsp;<br>
                                <span class="am-icon-edit am-icon-md"></span>&nbsp;&nbsp;{{ article.modified_time }}
                            </h5>
                        </div>
                    </div>

                    <div class="am-article-bd">
                        {% if article.abstract == None %}
                            <p></p>
                        {% else %}
                            <div class="am-article-lead back2">
                                <h5>文章摘要:</h5>
                                {{ article.abstract }}
                            </div>
                        {% endif %}
                        <div class="am-panel am-panel-default back" style="border: hidden">
                            <main class="am-panel-bd bodybak articlefont">
                                {# truncatewords_html：文章太长截取#}
                                {{ article.body| safe_markdown| truncatewords_html:20 }}
                                <a href="{% url 'blog:detail' article.pk %}">阅读全文>>></a>
                            </main>
                            <footer class="am-panel-footer back3">
                                <p><span class="am-icon-star am-icon-md"></span>&nbsp;<a
                                        href="#">{{ article.category }}</a></p>
                                <p>
                                    <span class="am-icon-tags am-icon-md"></span>
                                    <!--使用for循环才能显示出标签，否则获取不了数据-->
                                    {% for tag in article.tag.all %}
                                        {{ tag }}&nbsp;&nbsp;
                                    {% endfor %}
                                </p>
                            </footer>
                        </div>
                    </div>
                </article>
                <hr class="am-article-divider">
            {% endfor %}
        </div>

        <!--侧边栏-->
        <div class="am-u-md-4">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd">热门分类</div>
                <div class="am-panel-bd">
                    <ul>
                        {% for category in category_list %}
                            <li><a href="{% url 'blog:category' category.id %}">{{ category.name }}</a></li>
                        {% empty %}
                            <li><a href="{% url 'blog:categories' %}">查看更多>>></a></li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'blog:categories' %}" class="am-btn am-round am-btn-xs am-btn-warning">查看更多>>></a>
                </div>
            </div>

            <div class="am-panel-group" id="accordation">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd" data-am-collapse="{parent: '#accordion', target: '#tags'}">文章标签</div>
                    <div class="am-panel-bd am-collapse" id="tags">
                        {% for tag in tag_list %}
                            {% if tag.name|length >= 10 %}
                                <a href="{% url 'blog:tag' tag.pk %}"
                                   class="am-badge am-radius">{{ tag }}</a>
                            {% elif tag.name|length >= 8 %}
                                <a href="{% url 'blog:tag' tag.pk %}"
                                   class="am-badge am-badge-success am-radius">{{ tag }}</a>
                            {% elif tag.name|length >= 7 %}
                                <a href="{% url 'blog:tag' tag.pk %}"
                                   class="am-badge am-badge-warning   am-radius">{{ tag }}</a>
                            {% elif tag.name|length >= 6 %}
                                <a href="{% url 'blog:tag' tag.pk %}"
                                   class="am-badge am-badge-primary am-radius">{{ tag }}</a>
                            {% elif tag.name|length >= 5 %}
                                <a href="{% url 'blog:tag' tag.pk %}"
                                   class="am-badge am-badge-secondary  am-radius">{{ tag }}</a>
                            {% else %}
                                <a href="{% url 'blog:tag' tag.pk %}"
                                   class="am-badge am-badge-danger am-radius">{{ tag }}</a>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd" data-am-collapse="{parent: '#accordion', target: '#archive'}">文章归档</div>
                    <div class="am-panel-bd am-collapse" id="archive">2333</div>
                </div>

                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd" data-am-collapse="{parent: '#accordion', target: '#contact'}">联系我</div>
                    <div class="am-panel-bd am-collapse" id="contact">
                        <p>
                            <a href="https://github.com/jerry0734" target="_blank"
                               class="am-icon-btn am-icon-github "></a>
                            <a href="http://weibo.com/jerryxjy" target="_blank"
                               class="am-icon-btn am-warning am-icon-weibo"></a>
                            <a class="am-icon-btn am-success am-icon-wechat"
                               data-am-popover="{content: '点击打开二维码', trigger: 'hover focus'}"
                               onclick="window.open('http://ocvs5dg73.bkt.clouddn.com/mmqrcode1492430307368.png')"></a>
                            <a href="https://user.qzone.qq.com/891192183" target="_blank"
                               class="am-icon-btn am-primary am-icon-qq"></a>
                            <a href="mailto:jerry34@foxmail.com"
                               class="am-icon-btn am-secondary am-icon-envelope-o"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
</html>



