{% extends 'blog_articles/base.html' %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}主页{% endblock %}</title>
    {% load markdown_deux_tags %}
    <link rel="stylesheet" href="/static/">

</head>
<body>
{% block content %}
    <h1>Jerry's Blog</h1>
    {% for article in article_list %}
        <div class="ui segment">
            <h3 class="ui dividing header">{{ article.title }}</h3>
            <p class="ui inverted">{{ article.body|markdown|safe }}</p>
        </div>
    {% endfor %}
{% endblock content %}
</body>
</html>