{% extends 'blog_articles/newmanage/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}该文章的评论{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="am-g" style="background-color: white">
        <div class="am-u-md-12 am-u-lg-12">
            <br>
            <a href="{% url 'blog:myarticles' %}">
                <button class="am-btn am-btn-primary">返回文章列表</button>
            </a>
            <table class="am-table am-table-hover">
                <thead>
                <tr>
                    <th>评论内容</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comment_list %}
                    <tr>

                        <td>{{ comment.content| truncatechars_html:50 }}</td>
                        <td>
                            <a href="{% url 'blog:manage_c_edit' comment.id %}">
                                <button class="am-btn am-btn-default am-btn-xs">
                                    编辑
                                </button>
                            </a>&nbsp;
                            <a href="{% url 'blog:manage_c_del' comment.id %}">
                                <button class="am-btn am-btn-danger am-btn-xs">
                                    删除
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
</body>
</html>