{% extends 'blog_articles/another_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}标签编辑{% endblock %}</title>
    {% block extrastyle %}
        <style>
            div#minheight {
                height: 100%;
                min-height: 525px;
            }

            div#pdtop {
                padding-top: 50px;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block content %}
    <div id="minheight" class="am-g am-g-fixed">
        <div id="pdtop">
            <form action="" method="post">
                {% csrf_token %}
                <div class="am-form-group">
                    <label>请修改标签</label><br>
                    {{ form }}
                </div>
                <a href="{% url 'blog:tag_list' %}">
                    <button class="am-btn am-btn-warning" type="button">撤销修改</button>
                </a>
                <button class="am-btn am-btn-success" type="submit">修改标签</button>
            </form>
        </div>
    </div>
{% endblock %}
</body>
</html>