{% extends 'blog_articles/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}后台管理索引{% endblock %}</title>
    {% block extrastyle %}
        <style>
            #minheight {
                min-height: 525px;
                height: 100%;
            }

            a#btn {
                color: inherit;
            }

            div#inline {
                display: inline;
            }

            #pad {
                padding-top: 50px;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="am-g am-g-fixed" id="minheight" align="center">
        <div id="pad">
            <a href="/admin/">
                <button class="am-btn am-btn-success" style="align-content: center">Django Admin</button>
            </a>
        </div>

        <br>

        <div id="inline">
            <a href="/admin/blog_articles/article/">
                <button class="am-btn am-btn-default">文章批量管理</button>
            </a>
            <a href="/admin/blog_articles/comments/">
                <button class="am-btn am-btn-default">评论批量管理</button>
            </a>
            <a href="/admin/blog_articles/category/">
                <button class="am-btn am-btn-default">分类批量管理</button>
            </a>
            <a href="/admin/blog_articles/tag/">
                <button class="am-btn am-btn-default">标签批量管理</button>
            </a>
        </div>

        <br><br>
        <div id="inline">
            <a href="/admin/blog_articles/comments/">
                <button class="am-btn am-btn-warning">文章评论</button>
            </a>
            <a href="/admin/msb/message/">
                <button class="am-btn am-btn-warning">留言板管理</button>
            </a>
            <a href="/admin/myuser/alluser/">
                <button class="am-btn am-btn-danger">用户管理</button>
            </a>
            <a href="/admin/blog_articles/aboutme/">
                <button class="am-btn am-btn-danger">关于博客</button>
            </a>
        </div>

        <br><br>
        <p>↓下方为快速管理↓</p>
        <div id="inline">
            <a href="{% url 'blog:new_article' %}"
               id="btn">
                <button class="am-btn am-btn-primary">撰写新文章</button>
            </a>
        </div>
        <div style="display: inline;">
            <a href="{% url 'blog:category_list' %}" style="color: ThreeDHighlight">
                <button class="am-btn am-btn-secondary">简易分类管理</button>
            </a>
        </div>
        <div style="display: inline;">
            <a href="{% url 'blog:tag_list' %}" id="btn">
                <button class="am-btn am-btn-secondary">简易标签管理</button>
            </a>
        </div>


    </div>
{% endblock %}
</body>
</html>