{% extends 'blog_articles/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ article.title }}{% endblock %}</title>
    {% block extrastyle %}
        <style>
            .am-article-meta {
                font-size: 1.3rem;
                line-height: 1.5;
                color: #999999;
            }
        </style>
    {% endblock %}
    {% block extrahead %}
        <script>
            $(document).ready(function () {
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                });
                $('#comment').submit(function () {
                    var content = $("#commentcontent").val();
                    $.ajax({
                        type: "POST",
                        data: {content: content},
                        url: "{% url 'blog:comment' article.id %}",
                        cache: false,
                        dataType: "html",
                        success: function (result, statues, xml) {
                            alert(result); //成功时弹出view传回来的结果
                            location.reload()
                        },
                        error: function () {
                            alert("发送失败");
                        }
                    });
                    return false;
                });

            });
        </script>
    {% endblock %}
    {% load dractags %}
</head>
<body>
{% block content %}
    <div class="am-g am-g-fixed  blog-content">
        <div class="am-u-sm-10 am-u-md-12 am-u-lg-12 am-u-sm-centered">
            <article class="am-article blog-article-p">
                <div class="am-article-hd">
                    <h1 class="am-article-title blog-text-center">{{ article.title }}</h1>
                    <div class="am-article-meta blog-text-center">
                        <span><a href="{% url 'blog:category' article.category_id %}"
                                 class="blog-color">{{ article.category }}&nbsp;</a></span>-
                        <span><a
                                href="{% url 'account:profile' article.author_id %}">@{{ article.author }}</a></span>-
                        <span class="am-icon-eye">&nbsp;{{ article.reading }}</span>
                        <p><span>创建时间:{{ article.create_time }}</span></p>
                        <p><span>最后修改时间:{{ article.modified_time }}</span></p>
                    </div>

                </div>
                <div class="am-article-bd">
                    <div>
                        {{ article.body| safe_markdown }}
                    </div>
                </div>
            </article>

            <div class="am-g blog-article-widget blog-article-margin">
                <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
                    <span class="am-icon-tags am-icon-md"></span>
                    {% for tag in article.tag.all %}
                        <a href="{% url 'blog:tag' tag.pk %}">{{ tag }}</a>&nbsp;
                    {% endfor %}
                </div>
            </div>

            <hr>
            <div class="am-g blog-author blog-article-margin">
                <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
                    <img src="{{ article.author.avatar.url }}" alt="" class="blog-author-img am-circle">
                </div>
                <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
                    <a href="{% url 'account:profile' article.author_id %}"><h1><span>作者 &nbsp;: &nbsp;</span><span
                            style="font-size: 100%">{{ article.author }}</span></h1></a>
                </div>
            </div>
            <hr>
            <div>
                <button type="button" class="am-btn am-radius color-modal-btn-blue"
                        data-am-modal="{target: '#doc-modal-1'}"
                        style="float:left">
                    扫码阅读
                </button>
                <div class="am-modal am-modal-no-btn color-modal-style color-modal-style-blue" tabindex="-1"
                     id="doc-modal-1">
                    <div class="am-modal-dialog">
                        <div class="color-modal-style-head am-text-middle">
            <span class="color-modal-style-head-title ">
                文章二维码
            </span>
                        </div>
                        <div class="am-modal-hd">
                            <script>document.write(document.URL)</script>
                            <a href="javascript: void(0)" class="am-close am-close-spin  color-modal-style-close"
                               data-am-modal-close>×</a>
                        </div>
                        <div class="am-modal-bd">
                            <div align="center" id="qrcode"></div>
                            <script type="text/javascript">
                                thisURL = document.URL;
                                jQuery('#qrcode').qrcode({width: 150, height: 150, text: thisURL});
                            </script>

                        </div>
                        <div class="color-modal-style-btn">
                            <button type="button" class="am-btn am-radius" data-am-modal-close>好的</button>
                        </div>

                    </div>
                </div>
                <!--百度分享按钮-->
                <!--http://share.baidu.com/-->
                <div class="bdsharebuttonbox" style="float:left">
                    {#                <a href="#" class="bds_more" data-cmd="more"></a>#}
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                    <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                </div>
                <script>
                    window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdText": "",
                            "bdMini": "1",
                            "bdMiniList": false,
                            "bdPic": "",
                            "bdStyle": "1",
                            "bdSize": "24"
                        }, "share": {}
                    };
                    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '/static/api/js/share.js?v=89860593.js?'];
                </script>
            </div>

            <hr>
            <br><br>

            {% if user.is_authenticated %}
                <div class="am-g am-g-fixed">
                    <form id="comment" method="post"
                          class="am-form am-u-sm-10 am-u-md-12 am-u-lg-12 am-u-sm-centered">
                        {% csrf_token %}
                        <div class="am-form-group">
                            <label>请输入您的评论</label><br>
                            {{ form.content }}
                        </div>
                        <button class="am-btn am-btn-success" type="submit">提交评论</button>
                    </form>
                </div>
            {% else %}
                <div class="am-panel am-panel-default">
                    <div class="am-panel-bd">登陆后才能评论文章哦 ---->>&nbsp;
                        <a href="{% url 'account:login' %}">登录</a>&nbsp;
                        <a href="{% url 'account:register' %}">注册</a>
                    </div>
                </div>
            {% endif %}

            <br>

            <div class="am-g am-g-fixed">
                <ul class="am-comments-list  am-u-md-10 am-u-lg-12 am-u-sm-10 am-u-sm-centered">
                    {% for comment in comment_list %}
                        <li class="am-comment ">
                            <img class="am-comment-avatar" alt="" src="/media/{{ comment.user.avatar }}"/>
                            <div class="am-comment-main ">
                                <header class="am-comment-hd">
                                    <div class="am-comment-meta" style="background-color: #f5f5ff">
                                        <a href="{% url 'account:profile' comment.user_id %}">{{ comment.user }}</a>
                                        评论于
                                        {{ comment.published_time }}
                                        <div style="float: right">
                                            {% if user.id == comment.user.id %}
                                                <a href="{% url 'blog:edit_comment' comment.id %}">
                                                    <i class="am-icon-edit am-icon-sm" title="编辑评论"></i>
                                                </a>
                                                &nbsp;
                                                <a href="{% url 'blog:delete_comment' comment.id %}">
                                                    <i class="am-icon-close am-icon-sm" title="删除评论"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </header>
                                <div class="am-comment-bd"
                                     style="background-color: rgba(211,255,245,0.12)">
                                    {% if  comment.related != None %}
                                        <blockquote>
                                            回复了{{ comment.related.user }}：{{ comment.related }}
                                        </blockquote>
                                    {% endif %}
                                    {{ comment.content }}
                                    <br>
                                    <button class="am-btn am-btn-primary am-btn-xs"
                                            data-am-collapse="{target: '#dialog{{ forloop.counter }}'}"
                                            style="padding-top: 10px">
                                        回复 <i class="am-icon-reply"></i></button>
                                    <!--隐藏回复框-->
                                    <div class="am-g am-g-fixed am-collapse" id="dialog{{ forloop.counter }}">
                                        <form action="{% url 'blog:reply_comment' comment.id %}"
                                              method="post"
                                              class="am-form dialog am-u-md-10 am-u-lg-12 am-u-sm-10 am-u-sm-centered"
                                              style="padding-top: 5px">
                                            {% csrf_token %}
                                            <div class="am-form-group">
                                                {{ replyform.content }}
                                            </div>
                                            <button class="am-btn am-btn-secondary" type="submit">回复</button>
                                        </form>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $.ajaxSetup({
                                                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                                            });
                                            $('#dialog{{ forloop.counter }}').submit(function () {
                                                var content = $("#replycontent").val();
                                                $.ajax({
                                                    type: "POST",
                                                    data: {content: content},
                                                    url: "{% url 'blog:reply_comment' comment.id %}",
                                                    cache: false,
                                                    dataType: "html",
                                                    success: function (result, statues, xml) {
                                                        alert(result); //成功时弹出view传回来的结果
                                                        location.reload()
                                                    },
                                                    error: function () {
                                                        alert("发送失败");
                                                    }
                                                });
                                                return false;
                                            });
                                        });
                                    </script>
                                </div>


                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!---->


            <hr>
        </div>
    </div>

{% endblock %}
</body>
</html>