{% extends 'blog_articles/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}用户登录{% endblock %}</title>

</head>
<body>
{% block content %}
    <div class="am-g am-g-fixed" align="center">
        <br><br>
        <h1>登录</h1>
        <form id="login_form" class="am-form" method="post" action="{% url 'account:login' %}" style="width: 70%">
            {% csrf_token %}
            <div class="am-input-group">
                <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
                <input type="text" name="username" class="am-form-field" placeholder="用户名">
            </div>
            <br>
            <div class="am-input-group">
                <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
                <input type="password" name="password" class="am-form-field" placeholder="密码">
            </div>

            <br>

            <button type="submit" class="am-btn am-btn-default">登录</button>
            <button type="reset" class="am-btn am-btn-danger">重新填写</button>


        </form>
    </div>
    <br><br><br><br><br><br><br><br>
{% endblock %}
</body>
</html>