{% extends 'blog_articles/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ myuser.username }}的资料{% endblock title %}</title>
    {% block extrastyle %}
        <style>
            div#minheight {
                min-height: 525px;
                height: 100%;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block content %}
    <div id="minheight">
        <div class="am-g am-g-fixed" style="padding-top: 50px">
            <div class="am-u-lg-4 am-u-md-4">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd" style="background: inherit;border: hidden">
                        <h3 class="am-panel-title">{{ myuser.username }}</h3>
                    </div>
                    <div class="am-panel-bd">
                        <p align="center"><img src="{{ myuser.avatar.url }}" style="height: 60px; width: 60px;"></p>
                        <table class="am-table">
                            <tr style="border:inherit">
                                <td>uid:</td>
                                <td>{{ myuser.id }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                {#                <div class="am=panel">#}
                {#                    <p><a href="{% url 'account:send_private' myuser.id %}">给TA发私信</a></p>#}
                {#                </div>#}
                <div class="am-panel am-panel-default" style="border-color: transparent">
                    {% if myuser.id == user.id %}
                        <form action="{% url 'account:change_avatar' myuser.id %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <label>修改头像</label>
                            {{ form.avatar }}
                            <br>
                            <button type="submit" class="am-btn am-round am-btn-default">更换头像</button>
                        </form>
                    {% endif %}
                </div>

            </div>
            <div class="am-u-lg-8 am-u-md-8">
                <div class="am-panel am-panel-primary">
                    <div class="am-panel-hd">
                        <h3 class="am-panel-title">{{ myuser.username }}发表过的评论</h3>
                    </div>
                    <div class="am-panel-bd">
                        <ol>
                            {% for comment in comments %}
                                <li>
                                    <p>于{{ comment.published_time }}发表了:</p>
                                    <p>{{ comment.content| truncatechars_html:15 }}</p>
                                    <p><a href="{% url 'blog:detail' comment.article_id %}">查看评论的文章</a></p>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>