{% extends 'blog_articles/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}留言板{% endblock %}</title>
    {% load dractags %}
</head>
<body>
{% block content %}
    <div class="am-g am-g-fixed am-container">
        <h2 class="am-sans-serif am-u-md-12 am-u-sm-12" style="text-align: center">留个言呗</h2>
        <form class="am-form  am-u-md-12 am-u-sm-12" action="{% url 'msb:board' %}" method="post">
            {% csrf_token %}
            <div class="am-input-group">
                <label class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></label>
                {{ form.author_name }}
            </div>
            <br>
            <div class="am-input-group">
                <label class="am-input-group-label"><i class="am-icon-envelope am-icon-fw"></i></label>
                {{ form.email }}
            </div>
            <br>
            <div>
                <label>你的留言<i class="am-btn am-icon-question-circle-o"
                              data-am-popover="{content: '支持部分Markdown语法：**bold**  _italic_  [link](http://example.com)  > 引用', trigger: 'hover focus'}"></i>
                </label>
                {{ form.content }}
            </div>
            <br>
            <div align="center">
                <button name="提交" class="am-btn am-btn-primary">
                    <i class="am-icon-send am-icon-lg"></i>
                </button>
            </div>
        </form>
    </div>
    <br>
    <hr>
    <div class="am-g am-g-fixed am-container">
        <h1 style="text-align: center">留言板</h1>
        {% for message in messages %}
            <h6>#{{ forloop.revcounter }}&nbsp;{{ message.author_name }}&nbsp;{{ message.published_time }}</h6>
            <p>{{ message.content|safe_markdown }}</p>
        {% empty %}
        {% endfor %}

    </div>
{% endblock %}
</body>
</html>